@{
    ViewBag.Title = "About";
}
<h1>@ViewBag.Title</h1>


<p>
    FilmBuff is an N-Tier structured MVC Web Application. This app was created as my final project in my Software Development course at Eleven Fifty Academy.
    The purpose of FilmBuff is for users to be able to easily archive movies they've seen and their thoughts about them.
</p>
<h2>Ready to get started?</h2>
<div class="row">
<div class="col-md-offset-1">
    <h2>Add a movie</h2>
    <p>Is there a movie you need to add to your log? Click the button below!</p>
    <p><a class="btn btn-success" href="~/Movie/Index">Go to your movies &raquo;</a></p>
</div>
<div class="col-md-offset-2">
    <h2>Write a review</h2>
    <p>Do you want to write a review? Click the button below!</p>
    <p><a class="btn btn-success" href="~/Review/Index">Go to your reviews &raquo;</a></p>
</div>
<div class="col-md-offset-3">
    <h2>Leave a comment</h2>
    <p>Do you need to add something to a review? Click the button below!</p>
    <p><a class="btn btn-success" href="~/Comment/Index">Go to your comments &raquo;</a></p>
</div>
</div>
