@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FilmBuff</h1>
    <p class="lead">Keep a log of the movies you've seen and the reviews you've written. </p>
    <p><a href="~/Home/About" class="btn btn-success btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Add a movie</h2>
        <p>Is there a movie you need to add to your log? Click the button below!</p>
        <p><a class="btn btn-success" href="~/Movie/Index">Go to your movies &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Write a review</h2>
        <p>Do you want to write a review? Click the button below!</p>
        <p><a class="btn btn-success" href="~/Review/Index">Go to your reviews &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Leave a comment</h2>
        <p>Do you need to add something to a review? Click the button below!</p>
        <p><a class="btn btn-success" href="~/Comment/Index">Go to your comments &raquo;</a></p>
    </div>
</div>